<span class="add-students-field">
  <%= form_tag(student_index_path, multipart: true, class: 'form-inline pull-left', role: 'form') do %>
    <div class="form-group">
      <%= label_tag :csv_student_file, "Select student CSV file" %>
      <%= file_field_tag :csv_student_file, class: "form-control" %>
    </div>
    <%= button_tag "upload student batch file", class: "btn btn-primary" %>
  <% end %>
</span>
