<h1>Welcome <%= @student.first_name %> <%= @student.last_name %></h1>

<ul>
  <%= @student.surveys.each do |a_survey| %>
    <li>
       <%= link_to survey_path(a_survey) %> ,
       <button>Take</button> <%# if they haven't completed it yet %>
    </li>
  <% end %>
</ul>
