<div class="col-6">
  <div class="col-2">
    <%= link_to "Create an event", new_event_path, class: "btn btn-primary" %>
    </br>
    <%= link_to "Review an event", event_index_path, class: "btn btn-primary" %>
    </br>
    <%= link_to "Review Data", new_event_path, class: "btn btn-primary" %>
    </br>
  </div>
</div>
