<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <p>Hello valued career pathway partner,</p>
  <p>
    Thank you for providing our students with your time and expertise! We have developed a mobile app to collect feedback from partners like yourself about each work-based learning event so that we can use that information to continuously improve student preparation and how the experience is structured. We would appreciate a few more minutes of your time to give us that feedback on this short survey. Here is the <%= "<a target='_blank' href='/survey/#{@survey.id}/edit'>link</a>".html_safe %>.
  </p>
  <p>
    Thank you again; you make a difference!
  </p>
  <body>
    <%= yield %>
  </body>
</html>






