table{
  font-size: 1em;
  .table_head{
    font-weight: bold;
    font-size: 1.1em;
  }
}

#unsaved_container{
  height: 300px;
  overflow-y: auto;
}

.upcoming_events_wrapper{
  height: 300px;
  overflow-y: auto;
}

.past_events_wrapper{
  height: 300px;
  overflow-y: auto;
}

.btn-xs{
  font-size: 1.25em;
  white-space: nowrap;
}

.text_entry{
  width: 80%;
}

@media (min-width: 200px) and (max-width: 568px) {
  body{
    font-size: 20px;
  }
  .header{
    font-size: 15px;
  }
  .options{
    font-size: 20px;
  }
  .student-lookup-return{
    font-size: 15px;
  }
  .event-data{
    width: 100%;
  }
  #suggested-students_wrapper{
    width: 160%;
    font-size: 12px;
  }
}

