.selected-student{
  color: gray;
}
.btn {
    white-space: normal;
}
div {
  font-size: 20px;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    div {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    div {
        font-size: 1.2em; /* 1.2x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    div {
        font-size: 0.8em; /* 0.8x default size */
        }
    }
