.selected-student{
  color: gray;
}
.btn {
    white-space: normal;
}
div {
  font-size: 20px;
}

// @media all and (max-width: 1200px) { /* screen size until 1200px */
//     div {
//         font-size: 1.5em; /* 1.5x default size */
//     }
// }
// @media all and (max-width: 1000px) { /* screen size until 1000px */
//     div {
//         font-size: 1.2em; /* 1.2x default size */
//         }
//     }
// @media all and (min-width: 300px) { /* screen size until 500px */
//     div {
//         font-size: 1.5em; /* 0.8x default size */
//       }
//     input{
//        width: 500px;
//       }
//     option{
//       max-height: 0.8em;
//       min-height: 0.4em;
//       font-size: 1em;
//     }
//     .btn {
//         width: 200px;
//         font-size: 0.5em;
//       }
//     .user_message {
//       font-size: 1.2em;
//     }
//     .header {
//       font-size: 3em;
//     }

  // }
